@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@theme {
  --font-pacifico: "Pacifico", cursive;
  --font-lobster: "Lobster", sans-serif;

}